<html>
    <head>
        <title>게시판 등록</title>
    </head>
    <body>
        <form method="POST" action="/board/write">
            <input type="text" name="title" placeholder="제목">
            <textarea name="content"></textarea>
            <input type="submit" value="등록">
        </form>
    </body>
</html>